@import url(./__logo/header__logo.css);
@import url(./__line/header__line.css);

.header {
    max-width: 882px;
    margin: 45px auto 0;
}

@media screen and (max-width: 320px) {
    .header {
        max-width: 882px;
        margin: 28px auto 0;
    }
}